# Faster AI MongoDB Credentials
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=AppName
DB_NAME=FasterConversations

# VIP MongoDB Credentials
VIP_MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority&appName=AppName
VIP_DB_NAME=VIPConversations

# Flask Configuration
PORT=8000
FLASK_ENV=production

# Feature Flags
TEST_MODE=false
